@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome To AdHoc Testing Environments</h1>

    <div class="text-left">
        <h3>
            Start an environment
        </h3>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="environmentname">Application</label>
                <select class="form-control" id="environmentname">
                    <option value="">please select</option>
                </select>
                <small id="containerImageHelp" class="form-text text-muted">ID of container image</small>
            </div>
        </div>

        <template id="instancetemplate">
            <li>
                <span id="name"></span>
                <span id="state"></span>
                <a href="#" id="link" target="_blank">open</a>
                <a href="#" id="remove">x</a>
            </li>
        </template>

        <button type="button" class="btn btn-primary" id="startButton">start application</button>

        <hr />


        <div>
            <ol id="instancelist">
            </ol>
        </div>



    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/modules/testingenvironmentsgui.js"></script>
}